.mt-10{
  margin-top: 70px;
}
.first-txt {
  position: absolute;
  top: 17px;
  left: 100px;
}

.second-txt {
  position: absolute;
  bottom: 20px;
  left: 100px;
}

.meme-text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.meme-text-top {
  top: 10px;
}

.meme-text-bottom {
  bottom: 10px;
}
